<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.example.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permisson.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.show_plan_history"></activity>
        <activity android:name=".activity.plan_history" />
        <activity android:name=".activity.get_id_last_plan" />
        <activity android:name=".activity.show_plan" />
        <activity android:name=".activity.plan" />
        <activity android:name=".activity.next_exam" />
        <activity android:name=".activity.patern" />
        <activity android:name=".activity.last_edite" />
        <activity android:name=".activity.time_picker" />
        <activity android:name=".activity.taghvim" />
        <activity android:name=".activity.percent" />
        <activity android:name=".activity.last_exam" />
        <activity android:name=".activity.login" />
        <activity android:name=".activity.reshte" />
        <activity android:name=".activity.first_page" />
        <activity android:name=".activity.sabt_nam" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>